/*
   This is the CSS for all of the php pages. Because each of them have a similar
   layout, the style could stay mostly the same. As usual, the CSS is arranged as 
   first basic HTML elements, then ID's and finally classes. 
*/

body{
   background-color:black;
   color:white;
}

a{
   color:white;
}

#header{
   width:100%;
   height:60px;
   border-bottom:1px solid #0066CC;
}

#ratingsWrapper{
   margin:0 auto;
   border:1px solid white;
   padding:3px;
   position:relative;
   top:20px;
}

#studentData{
   position:relative;
}

#siteLogo{
   width:210px;
   text-decoration:underline;
   margin:0 auto;
}

#links{
   padding:1px;
   width:150px;
   height:300px;
   position:absolute;
   top:105px;
   left:20px;
   background-color:black;
   color:white;
   display:inline-block;
}

#ratingsForm{
   padding-left:20px;
   width:550px;
}

.barLinkDiv{
   height:32%;
   width:100%;
   border:1px solid black;
   background-color:0066CC;
}  

.barLinkLink{
   color: white;
   text-align:center;
   position:relative;
   text-decoration:none;
}

.barLinkDiv:hover{
   background-color:blue;
}

.contentWrapper{
   border-left:1px solid white;
   height:900px;
   width:500px;  
   margin-top:10px;
   padding-left:15px;
   position:relative;
   left:200px;
   display:inline-block;
}

.contentWrapperLogin{
   border-left:1px solid white;
   height:900px;
   width:500px;  
   margin-top:10px;
   padding-left:15px;
   position:relative;
   left:100px;
   display:inline-block;
}

.column1{
   display:inline-block;
   width:30%;
}

.column2{
   display:inline-block;
   width:30%;
   left:100px;
}

.column3{
   display:inline-block;
   width:30%;
   left:200px;
}

.score{
   display:inline-block;
   width:200px;
   position:relative;
   left:150px;
}

.headerStudent{
   display:inline-block;
   position:relative;
   width:200px;
   left:50px;
}

.headerScore{
   display:inline-block;
   position:relative;
   left:60px;
}

.linkTextFormat{
   color:white;
}